{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>{{ _('2FA Sign in') }}</h1>
    <div class="row">
        <div class="col-md-4">
            <form method="POST" action="{{ url_for('auth.check_2fa_login') }}">
            <input id="2fa_token" name="2fa_token" type="hidden" value="{{ token }}">

                {{ form.otp_code.label }} {{ form.otp_code(size=6) }}
            <input id="submit" name="submit" type="submit" class="btn btn-primary" value="Submit">
        </form>
        </div>
    </div>
{% endblock %}
