{% extends 'form_page.html' %}
{% block forms %}
<form action="{{ url_for('auth.login') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group">
        {{ form.username.label }}
        {{ form.username(class_="form-control", autofocus='autofocus') }}
    </div>
    <div class="form-group mb-4">
        {{ form.password.label }}
        {{ form.password(class_="form-control") }}
    </div>
    <div class="form-prompt-wrapper">
        <div class="custom-control custom-checkbox login-card-check-box">
            {{ form.remember_me(class_="custom-control-input") }}
            {{ form.remember_me.label(class="custom-control-label") }}
        </div>
    </div>
    <p></p>
    {{ form.submit(class="btn btn-block login-btn mb-4") }}
</form>
<p>{{ _('Forgot your password?') }}<a href="{{ url_for('auth.reset_password_request') }}" class="forgot-password-link">
        {{ _('Click to reset it') }}</a></p>
<p class="login-card-footer-text">{{ _('New user? ') }}<a href="{{ url_for('auth.register') }}"
        class="text-reset">{{ _('Click to register!') }}</a></p>
{% endblock %}