{% extends 'base_better.html' %}
{% block content %}


<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="/static/images/onyxcherry.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <h1><a href="{{ url_for('main.index') }}">OnyxcheryOTP</a></h1>
                        </div>
                        <p class="login-card-description">{{ _('Sign in') }}</p>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-dark" role="alert">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        <form action="{{ url_for('auth.login') }}" method="POST">
                            <div class="form-group">
                                {{ form.username.label }}
                                {{ form.username(class_="form-control") }}
                            </div>
                            <div class="form-group mb-4">
                                {{ form.password.label }}
                                {{ form.password(class_="form-control") }}
                            </div>
                            <div class="form-prompt-wrapper">
                                <div class="custom-control custom-checkbox login-card-check-box">
                                    {{ form.remember_me(class_="custom-control-input") }}
                                    {{ form.remember_me.label(class="custom-control-label") }}
                                </div>
                            </div>
                            <p></p>
                            {{ form.submit(class="btn btn-block login-btn mb-4") }}
                        </form>
                        <p>{{ _('Forgot your password?') }}<a href="{{ url_for('auth.reset_password_request') }}"
                                class="forgot-password-link"> {{ _('Click to reset it') }}</a></p>
                        <p class="login-card-footer-text">{{ _('New user? ') }}<a href="{{ url_for('auth.register') }}"
                                class="text-reset">{{ _('Click to register!') }}</a></p>
                        <nav class="login-card-footer-nav">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}