{% extends 'form_page.html' %}
{% block forms %}
<form action="{{ url_for('auth.refresh_login') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
    <div class="form-group mb-4">
        {{ form.password.label }}
        {{ form.password(class_="form-control", autofocus='autofocus') }}
    </div>
    {{ form.submit(class="btn btn-block login-btn mb-4") }}
</form>

{% if webauthn_enabled %}
<div><a href="{{ url_for('auth.refresh_login') }}?webauthn=true">{{ _('Or instead use Webauthn') }}</a></div>
{% endif %}

{% endblock %}