{% extends "index2.html" %}

{% block content %}
<style>
    #twofa-text-code,
    #twofa-qrcodeAAA,
    #change-viewAAA,
    #otp_code_form {
        display: none;
    }

    #change-viewAAA {
        max-width: 20em;
        left: 50%;
        margin: 0 auto;
        font-size: 1.2em;
    }
</style>
<h1>{{ _('Turn on 2FA') }}</h1>

<p id="head-message" class="lead">{{ _('You are activating two factor authentication.') }}</p>

<p id="twofa-messages" class="alert alert-dark">{{ _('Please keep the secret private.') }}</p>
<p id="twofa-helper" class="alert alert-dark">{{ _('Scan the QR and type the code from app below.') }}
    {{ _('Use an OTP app, e.g. Authy or Google Authenticator.') }}</p>

<div id="twofa-qrcodeAAA"></div>
<div id="twofa-text-code" class="lead"></div>

<p class="lead">
<div id="change-viewAAA" class="btn btn-sm btn-secondary"><b>{{ _('Show secret as text') }}</div>
</p>

<p></p>
<form action="/twofa/checkcode" method="POST" id="otp_code_form" class="lead">
    {{ form.otp_code.label }}

    {{ form.otp_code(autofocus='autofocus', maxlength="6", size=6) }}
    <p></p>
    <input class="btn btn-info btn-lg" id="submit" name="submit" type="submit" value="Submit">
</form>

<div id="get-token-button" class="btn btn-primary btn-lg" style="margin-top: 20px;">{{ _('I understand') }}</div>

<script src="/static/qrcode.min.js" async defer></script>
<script src="/static/get2FASecret.js" async defer></script>
{% endblock %}