{% extends 'base_better.html' %}
{% block content %}


<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="card login-card">
            <div class="row no-gutters">
                <div class="col-md-5">
                    <img src="/static/images/onyxcherry.jpg" alt="login" class="login-card-img">
                </div>
                <div class="col-md-7">
                    <div class="card-body">
                        <div class="brand-wrapper">
                            <h1><a href="{{ url_for('main.index') }}">OnyxcheryOTP</a></h1>
                        </div>
                        <p class="login-card-description">{{ title }}</p>
                        {% with messages = get_flashed_messages() %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-dark" role="alert">{{ message }}</div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {% block forms %}
                        

                        {% endblock %}
                        <nav class="login-card-footer-nav">
                            <a href="#!">Terms of use.</a>
                            <a href="#!">Privacy policy</a>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}