<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <link rel="shortcut icon" href="/static/images/favicon-32x32.png">
  <title>{% if title %}{{ title }} - Onyxcherry OTP{% else %}{{ _('Welcome to Onyxcherry OTP') }}{% endif %}</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"
    nonce="{{ csp_nonce() }}">

  <link href="/static/css/cover.css" rel="stylesheet" nonce="{{ csp_nonce() }}">
  <link href="/static/css/my.css" rel="stylesheet" nonce="{{ csp_nonce() }}">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">OnyxcherryOTP</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link {% if not settings_active %}active{% endif %}" href="{{ url_for('main.index') }}">{{
            _('Home') }}</a>
          <a class="nav-link {% if settings_active %}active{% endif %}" href="{{ url_for('main.settings') }}">{{
            _('Settings') }}</a>
          {% if current_user.is_anonymous %}
          <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Sign in') }}</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-light" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% if default_content %}

      <h1 class="cover-heading">{{ _('Hello') }}, {{ current_user.username }}</h1>
      <p class="lead">{{ _('This is my implementation of two-factor authentication app in Flask with required fresh
        login, revoking other sessions and translations handled by Flask-Babel.') }}</p>
      <p class="lead">{{ _('Get more informations below:') }}</p>
      <p class="lead">
        <a href="https://github.com/onyxcherry/OnyxcherryOTP" class="btn btn-lg btn-secondary">{{ _('Check source')
          }}</a>
      </p>
      {% else %}
      {% block content %}

      {% endblock %}
      {% endif %}
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"
    nonce="{{ csp_nonce() }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"
    nonce="{{ csp_nonce() }}"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"
    nonce="{{ csp_nonce() }}"></script>
</body>

</html>