<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <title>{% if title %}{{ title }} - Onyxcherry OTP{% else %}{{ _('Welcome to Onyxcherry OTP') }}{% endif %}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/cover/">

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <link href="/static/css/cover.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">OnyxcherryOTP</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link {% if not settings_active %}active{% endif %}" href="{{ url_for('main.index') }}">{{ _('Home') }}</a>
          <a class="nav-link {% if settings_active %}active{% endif %}" href="{{ url_for('main.settings') }}">{{ _('Settings') }}</a>
          {% if current_user.is_anonymous %}
          <a class="nav-link" href="{{ url_for('auth.login') }}">{{ _('Sign in') }}</a>
          {% else %}
          <a class="nav-link" href="{{ url_for('auth.logout') }}">{{ _('Logout') }}</a>
          {% endif %}
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-light" role="alert">{{ message }}</div>
      {% endfor %}
      {% endif %}
      {% endwith %}
      {% if default_content %}
      
      <h1 class="cover-heading">Hello, {{ current_user.username }}</h1>
      <p class="lead">This is my implementation of two-factor authentication app in Flask with required fresh login
        panels and translations handled by Flask-Babel. </p>
        <p class="lead">Get more informations below:</p>
        <p class="lead">
          <a href="https://github.com/onyxcherry/OnyxcherryOTP" class="btn btn-lg btn-secondary">Check source</a>
        </p>
        {% else %}
        {% block content %}
        
        {% endblock %}
        {% endif %}
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a
            href="https://twitter.com/mdo">@mdo</a>.</p>
      </div>
    </footer>
  </div>
</body>

</html>